{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'hangman/style.css' %}">

<h1>Do you want to play?</h1>

<div class="button_holder">
    <form action="{% url 'hangman:difficulty' %}" method="POST"}>
        {% csrf_token %}
        <input id="button_yes" type="submit" name="to_play" value="Yes">
    </form>
    <form action="{% url 'hangman:index' %}" method="POST"}>
        {% csrf_token %}
        <input id="button_no" type="submit" name="no_play" value="No">
    </form>
</div>

