{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'hangman/style.css' %}">

<h1> You have 6 guesses left<h1>

<div id="image_one" class="hangman">____</div>
<div id="image_two" class="hangman">|</div>
<div id="image_three" class="hangman">|</div>
<div class="stand">
    <div id="image_four" class="hangman">|</div>
    <div id="image_five" class="hangman">|</div>
    <div id="image_six" class="hangman">|</div>
    <div id="image_seven" class="hangman">|</div>
    <div id="image_eight" class="hangman">|</div>
</div>
<div id="base" class="hangman">_______</div>

<div class="wrapper">
    {% if length %}
        {% for letter in length %}
        <div class="inline">_</div>
        {% endfor %}
    {% endif %}
</div>

<div class="guess_button">
    <form action="{% url 'hangman:game' %}" method="POST" id="post_guess">
        {% csrf_token %}
        <input id="guess" type="text" maxlength="1" name="guess">
        <input id="submit_guess" type="submit" name="submit_guess" value="Guess A Letter">
    </form>
</div>

