h1 {
    color: green;
    text-align: center;
    margin-top: 20px;
}

.button_holder {
    text-align: center;
}

.wrapper {
    overflow: hidden;
    white-space: nowrap;
    margin-top: 1em;
}

.inline {
    display: inline-block;
    font-size: 3em;
}

.sphere {
  background-color: green;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 500%;
  position: relative;
  box-shadow: inset -10px -10px 100px #000, 10px 10px 20px black, inset 0 0 10 black;
  margin: 5%;
}
.sphere::after {
  background-color: rgba(255, 255, 255, 0.3);
  content: '';
  height: 45%;
  width: 12%;
  position: absolute;
  top: 4%;
  left: 15%;
  border-radius: 50%;
  transform: rotate(40deg);
}

#head_stick {
    display: inline-block;
    margin-right: 85px;
    margin-left: 30px;
}

.sphere {
    display: inline-block;
    margin: 0;
    margin-right: 20px;
}

#image_one {
    margin-bottom: 0;
}

#image_two {
    display: inline-block;
    margin-right: 1em;
    margin-top: 0;
}

#image_three {
    display: inline-block;
    margin-left: 1em;
    margin-top: 0;
}

#stand_image {
    display: inline-block;
    margin-right: 72px;
    margin-left: 25px;
}

#torso {
    display: inline-block;
    margin: 0;
    margin-right: 35px;
}

#torso_rightarm{
    display: inline-block;
    margin-right: 20px;
}

#stand_image_rightarm{
    display: inline-block;
    margin-right: 70px;
}

#right_arm {
    display: inline-block;
    margin-right: 20px
}

#torso_leftrightarm{
    display: inline-block;
    margin-right: 20px;
}

#stand_image_leftrightarm{
    display: inline-block;
    margin-right: 110px;
}

#leftright_arm {
    display: inline-block;
    margin-right: 20px;
}

#left_arm {
    display: inline-block;
    margin-right: 20px
}




.stand {
    margin-left: 2.5em;
    margin-bottom: 0;
    padding-bottom: 0;
}

#image_eight {
    margin-bottom: 0;
    padding-bottom: 0
}

#base {
    margin-top: 0;
    margin-left: 1em;
    padding-top: 0;
    line-height: 10px;
}


